@{
    ViewData["Title"] = "E-Ticaret Kullanıcı";
}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Adreslerim</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">AnaSayfa</a>
                        <a asp-controller="User" asp-action="Index">Hesabım</a>
                        <span>Adreslerim</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Navigation")

<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-block-end: 50px;">
                <div class="continue__btn update__btn">
                    <a href="Address/Add" style="width: 100%; text-align: center;"><i class="fa fa-plus"></i> Adres Ekle</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>İl</th>
                                <th>İlçe</th>
                                <th>Posta Kodu</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var address in ViewBag.Address)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <h6>@address.AddressId</h6>
                                    </td>
                                    <td class="product__cart__item">
                                        <h6>@address.Province</h6>
                                    </td>
                                    <td class="product__cart__item">
                                        <h6>@address.District</h6>
                                    </td>
                                    <td class="product__cart__item">
                                        <h6>@address.PostalCode</h6>
                                    </td>
                                    <td class="cart__close" style="display: flex;">
                                        <a href="Address/@address.AddressId" style="border: unset; background: unset;">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                        <form action="User/Address/@address.AddressId">
                                            <button type="submit" style="border: unset; background: unset;">
                                                <i class="fa fa-close" style="background: #fd214a; color: #fff;"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>