@model Product

@{
    ViewData["Title"] = "E-Ticaret";
}

<style>
    .product__details__cart__option .quantity {
        display: inline-block;
        margin-right: 20px;
    }

    .product__details__cart__option .quantity .pro-qtyss {
        width: 100px;
        height: 40px;
        border: 1px solid #e5e5e5;
        position: relative;
    }

    .product__details__cart__option .quantity .pro-qtyss input {
        color: #0d0d0d;
        font-size: 15px;
        font-weight: 700;
        width: 70px;
        height: 100%;
        text-align: center;
        border: none;
    }

    .product__details__cart__option .quantity .pro-qtyss .qtybtnss {
        font-size: 18px;
        color: #0d0d0d;
        position: absolute;
        right: 15px;
        top: 3px;
        height: 10px;
        width: 10px;
        cursor: pointer;
        font-weight: 600;
    }

    .product__details__cart__option .quantity .pro-qtyss .qtybtnss.dec {
        top: 16px;
    }
</style>

<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a asp-controller="Home" asp-action="Index">AnaSayfa</a>
                        <a href="/Shop?cat=@Model.CategoryId">@Model.Category.Name</a>
                        <span>@Model.Name</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        @if (Model.Pictures != null && Model.Pictures.Count > 0)
                        {
                            for (int i = 0; i < Model.Pictures.Count; i++)
                            {
                                var picture = Model.Pictures[i];

                                <li class="nav-item">
                                    <a class="nav-link @(i == 0 ? "active" : "")" data-toggle="tab" href="#tabs-@picture.PictureId" role="tab">
                                        <div class="product__thumb__pic set-bg" data-setbg="/img/@picture.Path">
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        @if (Model.Pictures != null && Model.Pictures.Count > 0)
                        {
                            for (int i = 0; i < Model.Pictures.Count; i++)
                            {
                                var picture = Model.Pictures[i];

                                <div class="tab-pane @(i == 0 ? "active" : "")" id="tabs-@picture.PictureId" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="~/img/@picture.Path" alt="">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>@Model.Name</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div>
                        <h3>@(Model.Price.HasValue ? Double.Parse(Model.Price.ToString()).ToString("N2") : "") ₺ ₺</h3>
                        <p>@Html.Raw(Model.Description)</p>
                        <div class="product__details__cart__option">
                            <form action="/Cart/Add/@Model.ProductId">
                                <div class="quantity">
                                    <div class="pro-qtyss">
                                        <input type="text" name="Quantity" value="1">
                                    </div>
                                </div>
                                <button type="submit" class="primary-btn" style="border: unset;">Sepete Ekle</button>
                            </form>
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>3D Güvenli Ödeme</span></h5>
                            <img src="/img/shop-details/details-payment.png" alt="">
                            <ul>
                                <li><span>SKU:</span> @Model.Sku</li>
                                <li><span>Categories:</span> @Model.Category.Name</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    @foreach(var comment in Model.Comments)
                    {
                        <div class="bg-white p-2" style="border: 1px solid #00000096; border-radius: 10px; margin: 20px; box-shadow: 0px 0px 10px #00000042;">
                            <div class="d-flex flex-row user-info">
                                <img class="rounded-circle" src="https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/user-profile-icon.png" width="40">
                                <div class="d-flex flex-column justify-content-start ml-2">
                                    <span class="d-block font-weight-bold name">@comment.User.NameSurname</span>
                                    <span class="date text-black-50">@comment.PublishedDate</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text">@comment.Text</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<p><br /><br /><br /></p>